.my-container{
  width: 100%;
  display: grid;
  grid-template-areas:
  ". . search . ."
  ". birds birds birds ."
  "footer footer footer footer footer";
}

#navbar{
  grid-area: navbar;
}

#search{
  grid-area: search;
  margin: 20px;
}

#birds{
  grid-area: birds;
}

#footer{
  grid-area: footer;
}